<br>
<div class="container py-3 mx-6" style="text-align: center; border: solid 2px black; background-color: grey; color: white; border-radius: 20px" >
  <p style="font-size: 20px; font-weight: bold;">Welcome to Zach Hsu's Community Tech Blog!</p>
  <br>
  <p style="font-style: italic;">Share your thoughts on tech, coding, and more!</p>
</div>
<br>


{{#if posts}}
<div class="container">
  {{#each posts}}
  <div class="card mx-6">
    <div class="card-header py-1 px-5" id="post-info">
      
        <a id="post-title" href="/post/{{id}}" style="font-weight: bold">{{title}}</a>
      
      <div>
        Posted by <strong>{{User.username}}</strong> on {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body py-1 px-5">
      {{content}}
    </div>
  </div>
  <br>
  {{/each}}
</div>
{{else}}
  <br><br><br>
  <h2 style="position: relative; text-align: center">
    <strong>Be the first to leave a post!</strong>
  </h2>
{{/if}}