<div>testing all posts</div>

<div class="container">
  {{#each posts}}
  <div class="card mx-6">
    <div class="card-header py-1 px-5" id="post-info">
      
        <a id="post-title" href="/post/{{id}}" style="font-weight: bold">{{title}}</a>
      
      <div>
        Posted by <strong>{{User.username}}</strong> on {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body py-1 px-5">
      {{content}}
    </div>
  </div>
  <br>
  {{/each}}
</div>