<div class="container">
  <div class="card mx-6">
    <div class="card-header py-1 px-5" id="post-info">
      
        <h1 id="post-title" href="/post/{{id}}" style="font-weight: bold">{{post.title}}</h1>
      
      <div>
        Posted by <strong>{{post.User.username}}</strong> on 
        {{format_date post.createdAt}}
      </div>
    </div>
    <div class="card-body py-1 px-5">
      {{post.content}}
    </div>
  </div>
  <br>
</div>


<div class="container">
  <div class="card mx-6">
    <div class="card-body py-1 px-5">
      {{#each post.Comment}}
        New
      {{/each}}
      
      <p>Example of a Comment</p>
    </div>
  </div>
  <br>
</div>


<div class="container">
  <div class="card mx-6">
    
    <div class="card-header py-1 px-5" id="comment-form-header">
      <h2><strong>Leave a response:</strong></h2>
      
    </div>

    <div class="card-body py-1 px-5">
      <br>

      <form action="">

        <input type="hidden" name="post-id" value="{{post.id}}" />
        <div class="field">
        <div class="control">
          <textarea class="textarea" name="new-comment-body" id="new-comment-body" cols="50" rows="3" placeholder="Ex: Coding is Great!"></textarea>
        </div>
      </div>
      
      <button type="click" class="button is-dark" id="new-comment-submit"><strong>Submit Comment</strong></button>

      </form>
      <br>
    </div>
  </div>
  <br>
</div>

<script src="/js/new-comment.js"></script>
